.icon-48-configurations {
      background-image: url(../images/l_configurations.png);
      padding-left:60px!important;
}

.icon-48-configuration {
      background-image: url(../images/l_configurations.png);
      padding-left:60px!important;
}

.icon-48-bundles {
      background-image: url(../images/l_bundles.png);
      padding-left:60px!important;
}

.icon-48-bundle {
      background-image: url(../images/l_bundles.png);
      padding-left:60px!important;
}

.icon-48-birthss {
      background-image: url(../images/l_birthss.png);
      padding-left:60px!important;
}

.icon-48-births {
      background-image: url(../images/l_birthss.png);
      padding-left:60px!important;
}

