.icon-48-configurations {
      background-image: url(../images/l_configurations.png);
      padding-left:60px!important;
}

.icon-48-configuration {
      background-image: url(../images/l_configurations.png);
      padding-left:60px!important;
}
.icon-48-queues {
      background-image: url(../images/l_configurations.png);
      padding-left:60px!important;
}

.icon-48-queued {
      background-image: url(../images/l_configurations.png);
      padding-left:60px!important;
}

